#Datei compose.yaml
services:
  #
  # RabbitMQ
  #
  rabbitmq:
    build: ./rabbitmq
    image: imagerabbitmq
    container_name: containerrabbitmqmv
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
  #
  # Service HrManagement + Datenbank
  #
  dbhrmanagement:
    build: ./DBs/HrManagement
    image: imagehrmanagementdb
    container_name: containerhrmanagementdb
    volumes:
      - hrmanagementdata:/var/lib/mysql
    ports:
      - 3307:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hrmanagement
  #
  apphrmanagement:
    build: ./HrManagement
    image: imagehrmanagementapp
    container_name: containerhrmanagementapp
    ports:
      - 8081:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://containerhrmanagementdb:3306/hrmanagement
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_QUEUE_URL: containerrabbitmqmv
      SPRING_QUEUE_VH: rabbitmqhost
    depends_on:
      - dbhrmanagement
      - rabbitmq
  #
  #Service DeviceManagement + Datenbank
  #
  dbdevicemanagement:
    build: ./DBs/DeviceManagement
    image: imagedevicemanagementdb
    container_name: containerdevicemanagementdb
    volumes:
      - devicemanagementdata:/var/lib/mysql
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devicemanagement
  #
  appdevicemanagement:
    build: ./DeviceManagement
    image: imagedevicemanagementapp
    container_name: containerdevicemanagementapp
    ports:
      - 8082:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://containerdevicemanagementdb:3306/devicemanagement
      SPRING_DATASOURCE_USER: root
      SPRING_DATASOURCE_PWD: root
      SPRING_QUEUE_URL: containerrabbitmqmv
      SPRING_QUEUE_VH: rabbitmqhost
    depends_on:
      - dbdevicemanagement
      - rabbitmq

  #
  #Service AuthorizationManagement + Datenbank
  #
  dbauthorizationmanagement:
    build: ./DBs/AuthorizationManagement
    image: imageauthorizationmanagementdb
    container_name: containerauthorizationmanagementdb
    volumes:
      - authorizationmanagementdata:/var/lib/mysql
    ports:
      - 3309:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: authorizationmanagement

  appauthorizationmanagement:
    build: ./AuthorizationManagement
    image: imageauthorizationmanagementapp
    container_name: containerauthorizationmanagementapp
    ports:
      - 8083:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://containerauthorizationmanagementdb:3306/authorizationmanagement
      SPRING_DATASOURCE_USER: root
      SPRING_DATASOURCE_PWD: root
      SPRING_QUEUE_URL: containerrabbitmqmv
      SPRING_QUEUE_VH: rabbitmqhost
    depends_on:
      - dbauthorizationmanagement
      - rabbitmq

volumes:
  hrmanagementdata:
  devicemanagementdata:
  authorizationmanagementdata:
  rabbitmqdata:
